<table class="table table-striped">
  <thead class="bg-danger text-white">
    <tr>
      <th><div class="text-left">No.</div></th>
      <th><div class="text-left">内容</div></th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody id="myTable">
    <% @lectures.each.with_index(1) do |lecture,i| %>
      <tr>
        <td><div class="text-left"><%= "#{i}" %></div></td>
        <td><div class="text-left"><%= link_to "#{lecture.title}" , aws_lecture_path(lecture.id)%></div></td>
        <td><%= link_to "編集" , edit_admin_aws_lecture_path(lecture.id)%></td>
        <td><%= link_to "削除" , "/admin/aws_lectures/#{lecture.id}" , method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to "新規作成", new_admin_aws_lecture_path %></p>
